// --------------------------
// PAGE STYLES
// --------------------------

body {
  padding-top: 52px;

  @include tablet {
    padding: 0;
  }
}

.row {
  padding: 0 16px;

  @include tablet {
    padding: 0 200px;
  }
}

.btn,
.input-field {
  border-radius: $border-radius-primary;
  font-family: $font-primary;
  font-size: 14px;
  font-weight: 600;
}

button {
  cursor: pointer;
}

button,
input,
select,
textarea {
  &:focus {
    outline: none;
  }
}

// --------------------------
// TEXT STYLES
// --------------------------

.text--secondary {
  color: $color-monochrome-4;
  font-weight: 400;
}

.render-whitespace {
  &--left {
    margin-left: auto;
  }
}

a {
  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
  }
}
