// --------------------------
// PAGE STYLES
// --------------------------

body {
  padding-top: $main-navigation-height--mobile;

  @include tablet {
    padding: 0;
  }
}

.row {
  padding: 0 16px;

  @include tablet {
    padding: 0 12%;
  }
}

.btn,
.input-field {
  border-radius: $border-radius-primary;
  font-family: $font-primary;
  font-size: 14px;
  font-weight: 600;
}

button {
  cursor: pointer;
}

// --------------------------
// TEXT STYLES
// --------------------------

.text--secondary {
  color: $color-monochrome-4;
  font-weight: 400;
}

.render-whitespace {
  &--left {
    margin-left: auto;
  }
}

// --------------------------
// LINK STYLES
// --------------------------

a {
  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
  }
}

.text-link {
  color: $color-monochrome-7;
  font-weight: 500;
}
