// --------------------------
// PAGE STYLES
// --------------------------

body {
  padding-top: $main-navigation-height--mobile;

  @include desktop {
    padding: 0;
  }
}

// --------------------------
// TEXT STYLES
// --------------------------

.text--secondary {
  color: $color-monochrome-4;
  font-weight: 400;
}

.render-whitespace {
  &--left {
    margin-left: auto;
  }
}

// --------------------------
// LINK STYLES
// --------------------------

a {
  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
  }
}

.text-link {
  color: $color-monochrome-7;
  font-weight: 500;
}
