/* fonts */
$font-primary: "proximanova";
$font-secondary: "belloscript";

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 600;

$font-weight-black: $font-weight-bold;
$font-weight-book: $font-weight-regular;

/* colors */
$color-primary: #4f88ef;
$color-secondary: #372347;
$color-tertriary: #9c92a4;

$color-text-primary: #354052;
$color-text-secondary: #7f8fa4;

$color-accent: #0092ff;
$color-active: #1166a5;

$color-error: #f60000;

$color-monochrome-1: #fff;
$color-monochrome-2: #f4f6f8;
$color-monochrome-3: #7a838e;
$color-monochrome-4: #87858a;
$color-monochrome-5: #36333c;
$color-monochrome-6: #e4e7ee;
$color-monochrome-7: #000;

$color-accent-alt-1: #f70;
$color-accent-alt-2: #70c017;
$color-accent-alt-3: #009659;
$color-accent-alt-4: #f05a28;
$color-accent-alt-5: #35ac45;
$color-accent-alt-6: #249533;
$color-accent-alt-7: #b0edb8;
$color-accent-alt-8: #39b54a;
$color-accent-alt-9: #34aa44;
$color-accent-alt-10: #fb6375;


/* color specific */
$header-color-primary: $color-monochrome-5;
$paragraph-color-primary: $color-monochrome-3;

/* media queries */
$xs: (max-width: 599px);
$gt-xs: (min-width: 600px);
$sm: (min-width: 600px) and (max-width: 959px);
$gt-sm: (min-width: 960px);
$md: (min-width: 960px) and (max-width: 1279px);
$gt-md: (min-width: 1280px);
$lg: (min-width: 1280px) and (max-width: 1919px);
$gt-lg: (min-width: 1920px);
$xl: (min-width: 1920px);

/* container sizes */
$container-xs: 100%;
$container-sm: 900px;
$container-md: 1200px;
$container-lg: 1400px;
$container-xlg: 1600px;

/* columns */
$columns--1: 100%;
$columns--2: 50% 50%;
$columns--3: 33.3% 33.3% 33.3%;
$columns--4: 25% 25% 25% 25%;
$columns--5: 20% 20% 20% 20% 20%;
$columns--6: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
$columns--7: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
$columns--8: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
$columns--9: 11.1% 11.1% 11.1% 11.1% 11.1% 11.1% 11.1% 11.1% 11.1%;
$columns--10: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
$columns--11: 9.09% 9.09% 9.09% 9.09% 9.09% 9.09% 9.09% 9.09% 9.09% 9.09% 9.09%;
$columns--12: 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3%;

/* font sizes */
$default-font-size: 18px;
$default-font-size--mobile: 16px;
$heading-primary-size: 36px;
$heading-primary-size--mobile: 32px;
$heading-secondary-size: 25px;
$heading-secondary-size--mobile: 18px;
$heading-tertriary-size: 18px;
$heading-tertriary-size--mobile: 16px;
$paragraph-size: 18px;
$paragraph-size--mobile: 16px;

/* component scheme"s */
$scheme-primary: "primary";
$scheme-secondary: "secondary";
$scheme-accent: "accent";
$scheme-accent--dark: "accent-dark";

/* sizing */
$main-navigation-height: 90px;
$main-navigation-height--small: 70px;

$subnav-height: 80px;
$subnav-height--mobile: 72px;

$border-radius-primary: 4px;

/* spacing */
$padding: 20px;
$default-grid-gutter: 10px;
