@import "../../shared/styles/main";

.login {
  background-color: $color-primary;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;

  @include desktop { margin-top: 0; }

  &__body {
    background-color: $color-monochrome-1;
    border: solid 1px $color-monochrome-8;
    border-radius: $border-radius-primary;
    left: 50%;
    max-width: 350px;
    min-width: 290px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__form {
    border-bottom: solid 1px $color-monochrome-8;
    border-top-left-radius: $border-radius-primary;
    border-top-right-radius: $border-radius-primary;
    padding: 24px 18px 21px;

    @include tablet { padding: 24px 32px 21px 28px; }
  }

  &__logo {
    @include logo;
    color: $color-primary;
    font-size: $heading-secondary-size;
    margin-bottom: 20px;
    text-align: center;
  }

  &__label {
    color: $color-text-secondary;
    display: block;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 10px;
    width: 100%;
  }

  &__input {
    background-color: $color-monochrome-9;
    margin-top: 5px;
  }

  &__button {
    margin-top: 10px;
    width: 100%;
  }

  &__footer {
    background-color: $color-monochrome-9;
    border-bottom-left-radius: $border-radius-primary;
    border-bottom-right-radius: $border-radius-primary;
    color: $color-text-secondary;
    font-weight: $font-weight-semi-bold;
    padding: 15px 0;
    text-align: center;
  }

  &__link {
    color: inherit;
    font-size: $main-navigation-font-size;

    &:hover {
      color: $color-text-primary;
    }
  }
}
