@import "../../shared/styles/main";

.time-entry-form {
  @include section-row;
  margin-bottom: 0;

  &__form-container {
    align-items: center;
    background-color: $color-monochrome-2;
    border: 1px solid $color-monochrome-6;
    border-radius: $border-radius-primary;
    display: flex;
    flex-flow: column;
    margin-top: 24px;
    padding: 16px;

    &--visible { display: flex; }

    &--hidden { display: none; }

    @include tablet {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      padding-bottom: 6px;
    }
  }

  &__title {
    display: none;

    @include tablet {
      display: block;
      font-size: 24px;
      font-weight: $font-weight-light;
    }
  }

  &__form-wrapper {
    position: relative;
    width: 100%;

    @include tablet {
      display: flex;
      flex-basis: 75%;
    }
  }

  &__label {
    color: $color-monochrome-4;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;

    &--half { margin-right: 10px; }

    @include tablet { margin-right: 10px; }
  }

  &__input {
    background-image: linear-gradient($color-monochrome-1, $color-monochrome-2);
    margin-bottom: 10px;
    margin-top: 10px;

    &--valid { border-bottom: 1px solid $color-monochrome-6; }

    &--invalid { border-bottom: 1px solid $color-accent-alt-10; }
  }

  &__select {
    color: $color-monochrome-7;
    height: 36px;
  }

  &__button-add {
    margin: 15px 0;
    width: 100%;

    @include tablet { width: 90px; }
  }

  &__button-new {
    margin-top: 25px;
    width: 100%;

    &::before {
      background: url("/static/icons/plus.svg") no-repeat;
      content: "";
      display: inline-block;
      height: 10px;
      margin-right: 15px;
      width: 10px;
    }

    &--hidden { display: none; }

    @include tablet { display: none; }
  }

  &__button-close {
    background-color: transparent;
    border: none;
    padding: 10px;
    position: absolute;
    right: -10px;
    top: -10px;

    @include tablet { display: none; }
  }

  &__icon-close {
    -webkit-mask: url("/static/icons/close.svg") no-repeat;
    -webkit-mask-size: 7px 7px;
    background-color: $color-monochrome-5;
    height: 7px;
    width: 7px;
  }

  &__time-wrapper { display: flex; }

  &__time-from,
  &__time-to {
    @include tablet { width: 80px; }
  }
}
