@import "../../shared/styles/main";

.time-entry {
  &-overview {
    margin-top: 32px;
  }

  &__date {
    font-weight: 400;
    margin-top: 25px;

    .text--secondary {
      font-size: 24px;
      margin-bottom: 10px;
    }
  }

  &__project, {
    border: 1px solid $color-monochrome-6;
    border-left: 4px solid $color-primary;
    border-radius: $border-radius-primary;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 30px 16px;

    &__employer,
    &__time {
      flex-basis: 50%;
    }

    &__time {
      text-align: right;
    }
  }
}
