@import "../../shared/styles/main";

.time-entry-overview {
  margin: 32px 0;

  .time-entry__date-row {
    display: flex;
    font-size: 24px;
    font-weight: 400;
    justify-content: space-between;
    margin-top: 33px;
  }

  .text--secondary {
    margin-bottom: 10px;
  }
}

.time-entry__project + .time-entry__project {
  border-radius: 0 0 4px 4px;
  margin-top: -1px;
}
