@import "../../shared/styles/main";

.time-entry-overview {
  @include section-row;
  margin-top: 10px;

  &__filter {
    display: block;

    @include tablet { display: none; }
  }

  &__date-row {
    color: $color-monochrome-4;
    display: flex;
    font-size: 24px;
    font-weight: 400;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 33px;
  }

  .time-entry-item + .time-entry-item {
    border-radius: 0 0 4px 4px;
    margin-top: -1px;
  }

  .select-box__button-arrow {
    &::after {
      display: block;

      @include tablet { display: none; }
    }
  }
}
