@import "../../shared/styles/main";

.time-entry-overview {
  margin: 32px 0;

  .time-entry__date {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 25px;
    margin-top: 33px;
  }

  .text--secondary {
    margin-bottom: 10px;
  }
}

.time-entry__project + .time-entry__project {
  background: #c7c7c7;
  border-radius: 0 0 4px 4px;
  margin-top: -1px;
}
