@import "../../shared/styles/main";

.clients-overview {
  @include section-row;

  &__header {
    align-items: center;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-bottom: 22px;
  }

  &__title {
    display: none;

    @include tablet {
      display: block;
      font-size: 24px;
      font-weight: $font-weight-light;
    }
  }

  &__button-new {
    width: 100%;

    @include tablet {
      margin-right: 10px;
      width: 125px;
    }

    &::before {
      background: url("/static/icons/plus.svg") no-repeat;
      content: "";
      display: inline-block;
      height: 10px;
      margin-right: 15px;
      width: 10px;
    }
  }

  &__filter {
    display: none;

    @include tablet {
      display: block;
      min-width: 120px;
    }
  }
}
