@import "../../shared/styles/main";

.page-header { display: none; }

@include tablet {
  .page-header {
    align-items: center;
    box-shadow: 0 1px 0 0 $color-monochrome-2;
    display: flex;
    height: 70px;
    justify-content: space-between;
    padding: 0 30px;

    &__title,
    &__text {
      display: inline-block;
    }

    &__text {
      color: $color-monochrome-3;

      &::before {
        color: $color-monochrome-3;
        content: "|";
        font-weight: $font-weight-light;
        padding: 0 12px;
      }
    }

    &__searchbar {
      background-color: transparent;
      border: 1px solid $color-monochrome-6;
      font-weight: 400;
      height: 36px;
      opacity: .6;
      padding: 0 32px 0 15px;
      width: 240px;

      &-btn {
        background-color: transparent;
        border: none;
        margin-left: -32px;
      }
    }
  }
}
