@import "../../shared/styles/main";

.page-header { display: none; }

@include tablet {
  .page-header {
    align-items: center;
    box-shadow: 0 1px 0 0 $color-monochrome-2;
    display: flex;
    height: $page-header-height;
    justify-content: space-between;
    padding: 0 30px;

    &__title {
      font-size: $default-font-size;
      font-weight: $font-weight-semi-bold;
    }

    &__text {
      color: $color-monochrome-3;
      font-size: 14px;
      font-weight: $font-weight-regular;

      &::before {
        color: $color-monochrome-3;
        content: "|";
        font-size: 14px;
        font-weight: $font-weight-regular;
        padding: 0 10px;
      }
    }

    &__form {
      position: relative;
    }

    &__searchbar {
      @include input-field;
      background-color: transparent;
      border: 1px solid $color-monochrome-6;
      min-height: 36px;
      min-width: 240px;
      opacity: .6;
      padding: 0 32px 0 15px;
    }

    &__button-search {
      background-color: transparent;
      border: none;
      bottom: 0;
      cursor: pointer;
      padding: 8px;
      position: absolute;
      right: 6px;
      top: 0;

      &::after {
        background: url("/static/icons/magnifying-glass.svg") no-repeat;
        content: "";
        display: block;
        height: 16px;
        width: 16px;
      }
    }
  }
}
