@import "../../shared/styles/main";

.client-item {
  align-items: center;
  border: 1px solid $color-monochrome-6;
  border-left: 4px solid $color-primary;
  border-radius: $border-radius-primary;
  margin-bottom: 20px;

  // HEADER
  &__header {
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
  }

  &__primary-wrapper {
    display: flex;
    flex-flow: row;
  }

  &__secondary-wrapper {
    display: none;

    @include tablet {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      margin-left: auto;
      width: 50%;
    }
  }

  &__personalia,
  &__client-info {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  &__client-info { width: 33.333333%; }

  &__button-caret {
    align-items: center;
    background-color: transparent;
    border: none;
    display: flex;
    margin-left: 20px;
  }

  &__icon-caret {
    -webkit-mask: url("/static/icons/arrow-down-2.svg") no-repeat;
    -webkit-mask-size: 10px 7px;
    background-color: $color-monochrome-4;
    height: 10px;
    width: 10px;

    &--down {
      transition: transform .3s;
    }

    &--up {
      transform: rotate(180deg);
      transition: transform .3s;
    }
  }

  &__divider {
    background: $color-monochrome-6;
    display: block;
    margin: 10px 0;
    min-height: 1px;
  }

  // EXPANDABLE WRAPPER (VISIBLE/HIDDEN)
  &__content {
    &--visible {
      display: flex;
      flex-flow: column;
      width: 100%;
    }

    &--hidden {
      display: none;
    }
  }

  &__content-title {
    background-color: $color-monochrome-2;
    border-bottom: 1px solid $color-monochrome-6;
    border-top: 1px solid $color-monochrome-6;
    color: $color-text-secondary;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 30px;
  }

  &__content-wrapper {
    padding: 16px 20px;
  }

  &__content-client-info {
    padding: 0 0 15px;
  }

  // GENERAL STYLES
  &__avatar {
    border-radius: 50%;
    height: 50px;
    margin-right: 25px;
    width: 50px;
  }

  &__text--primary {
    color: $color-text-primary;
    display: block;
    font-size: 16px;
    font-weight: $font-weight-semi-bold;
    margin-bottom: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__text--secondary {
    color: $color-text-secondary;
    display: block;
    font-size: 14px;
    font-weight: $font-weight-regular;
  }

  &__link {
    color: inherit;

    &:hover {
      color: $color-monochrome-3;
    }
  }

  &__blockquote {
    margin: 0;
    padding: 10px 10px 0;

    &::before {
      color: $color-text-secondary;
      content: "\201C";
      font-size: 1.6em;
      font-weight: $font-weight-regular;
      margin-right: 2px;
    }
  }
}
