@import "../../shared/styles/main";

.header {
  align-items: center;
  background-color: $color-primary;
  display: flex;
  font-size: $heading-secondary-size;
  font-weight: $font-weight-semi-bold;
  height: $main-navigation-height--mobile;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5;

  @include desktop {
    height: 100%;
    justify-content: space-between;
    min-height: $main-navigation-height;
    padding: 0 30px;
    position: static;
  }

  &__logo {
    @include logo;
    color: $color-monochrome-1;
    z-index: 1;

    @include desktop { display: none; }
  }
}

// NAVIGATION ICONS
.mobile-nav {
  &__button {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    position: absolute;
    right: 16px;
    z-index: 2;

    @include desktop { display: none; }

    &--open {
      .mobile-nav__icon {
        &--open { display: none; }

        &--close {
          display: block;
          height: auto;
          width: 17px;
        }
      }
    }
  }

  &__icon {
    &--open {
      display: block;
      height: auto;
      width: 18px;
    }

    &--close { display: none; }
  }
}
